[[:show :a                                 "http://schema.org/Movie"]

 [:green-goblin :a                         :foaf/Person]
 [:green-goblin :foaf/name                 {:value "Green Goblin"}]
 [:green-goblin :foaf/age                  77]
 [:green-goblin :rel/enemyOf               :spiderman]

 [:spiderman    :a                         :foaf/Person]
 [:spiderman    :foaf/name                 {:value "Spiderman"}]
 [:spiderman    :foaf/name                 {:value "Человек-паук" :lang :ru}]
 [:spiderman    :foaf/age                  42]
 [:spiderman    "http://schema.org/weight" 71.25]
 [:spiderman    :gravity                   1.663E-4]
 [:spiderman    :isSuperHero               true]
 [:spiderman    :rel/enemyOf               :green-goblin]]
