[[:show :a "<http://schema.org/Movie>"]

 ["<#green-goblin>"
  [[:a :foaf/Person]
   [:foaf/name "Green Goblin"]
   [:rel/enemyOf "<#spiderman>"]]]

 ["<#spiderman>"
  [[:a :foaf/Person]
   [:foaf/name ["Spiderman" {:value "Человек-паук" :lang :ru}]]
   [:rel/enemyOf "<#green-goblin>"]]]]
