[[:show          :a                         "http://schema.org/Movie"]

 [:green-goblin  :a                         :foaf/Person]
 [:green-goblin  :foaf/name                 {:value "Green Goblin"}]
 [:green-goblin  :foaf/age                  77]
 [:green-goblin  :rel/enemyOf               :spiderman]

 [:spiderman     :a                         :foaf/Person]
 [:spiderman     :foaf/name                 {:value "Spiderman"}]
 [:spiderman     :foaf/name                 {:value "Человек-паук" :lang :ru}]
 [:spiderman     :foaf/age                  42]
 [:spiderman     "http://schema.org/weight" 71.25]
 [:spiderman     :gravity                   1.663E-4]
 [:spiderman     :isSuperHero               true]
 [:spiderman     :rel/enemyOf               :green-goblin]

 ;; Blank Nodes
 
 [:_0            :foaf/knows                :_1]
 [:_1            :foaf/knows                :_0]
 [:_1            :foaf/knows                :_2]
 [:_2            :foaf/name                 {:value "Mike"}]

 [:_             :foaf/knows                :_3]
 [:_3            :foaf/name                 {:value "Ken"}]

 [:_4            :foaf/name                 {:value "Alice"}]
 [:_4            :foaf/knows                :_5]
 [:_5            :foaf/knows                :_6]
 [:_5            :foaf/name                 {:value "Bob"}]
 [:_5            :foaf/mbox                 "bob@example.com"]
 [:_6            :foaf/name                 {:value "Eve"}]
 ]
